<!--<div class="ui top attached demo menu">-->
<!--<a class="item">-->
<!--<i class="sidebar icon"></i>-->
<!--Menu-->
<!--</a>-->
<!--</div>-->
<div class="ui container">
  <div class="loader" data-loading="0">
    <div class="sk-cube-grid">
      <div class="sk-cube sk-cube1"></div>
      <div class="sk-cube sk-cube2"></div>
      <div class="sk-cube sk-cube3"></div>
      <div class="sk-cube sk-cube4"></div>
      <div class="sk-cube sk-cube5"></div>
      <div class="sk-cube sk-cube6"></div>
      <div class="sk-cube sk-cube7"></div>
      <div class="sk-cube sk-cube8"></div>
      <div class="sk-cube sk-cube9"></div>
    </div>
  </div>
  <div class="ui inverted left fixed vertical menu">
    <!--<div class="item">-->
      <!--<h2 class="ui header inverted">Welding</h2>-->
      <!--&lt;!&ndash;<img class="ui large image" src="images/logo.png">&ndash;&gt;-->
    <!--</div>-->
    <a class="item" href="/logout">
      <h4 class="ui grey header"><%= me.name %></h4>
      <p>Sign Out</p>
    </a>
    <a class="item" ng-repeat="item in menuItems" ng-class="{'active': item.title === selectedMenuItem}"
       ng-click="selectMenuItem(item.title)">
      {{item.title}}
    </a>
  </div>
  <div class="ui basic segment">
    <div ng-view></div>
  </div>
</div>
