<!--<div class="ui top attached demo menu">-->
<!--<a class="item">-->
<!--<i class="sidebar icon"></i>-->
<!--Menu-->
<!--</a>-->
<!--</div>-->
<div class="ui container">
  <div class="ui inverted left fixed vertical menu">
    <!--<div class="item">-->
      <!--<h2 class="ui header inverted">Welding</h2>-->
      <!--&lt;!&ndash;<img class="ui large image" src="images/logo.png">&ndash;&gt;-->
    <!--</div>-->
    <a class="item" href="/logout">
      <h4 class="ui grey header"><%= me.name %></h4>
      <p>Sign Out</p>
    </a>
    <a class="item" ng-repeat="item in menuItems" ng-class="{'active': item.title === selectedMenuItem}"
       ng-click="selectMenuItem(item.title)">
      {{item.title}}
    </a>
  </div>
  <div class="ui basic segment">
    <div ng-view></div>
  </div>
</div>
