<div class="tc-white-1" flex-container="column">
  <div class="card">
    <div class="toolbar">
      <div class="toolbar__left mr+++">
        <button class="btn btn--l btn--black btn--icon" lx-ripple>
          <i class="mdi mdi-menu"></i>
        </button>
      </div>

      <span class="toolbar__label fs-title">Lorem Ipsum</span>

      <div class="toolbar__right">
        <lx-search-filter closed theme="light"></lx-search-filter>

        <lx-dropdown position="right" from-top>
          <button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
            <i class="mdi mdi-dots-vertical"></i>
          </button>

          <lx-dropdown-menu>
            <ul>
              <li><a class="dropdown-link">Action</a></li>
              <li><a class="dropdown-link">Another action</a></li>
              <li><a class="dropdown-link">Something else here</a></li>
              <li class="dropdown-divider"></li>
              <li><a class="dropdown-link dropdown-link--is-header">Header</a></li>
              <li><a class="dropdown-link">Separated link</a></li>
            </ul>
          </lx-dropdown-menu>
        </lx-dropdown>
      </div>
    </div>
  </div>

  <div class="tc-white-1" flex-container="row">

    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
                md-is-locked-open="true" style="width: 250px" ng-cloak>

      <button class="btn btn--m btn--blue"
              ng-class="{'btn--raised': item.title === selectedMenuItem, 'btn--flat': item.title != selectedMenuItem}"
              lx-ripple ng-repeat="item in menuItems" ng-click="selectMenuItem(item.title)">
        {{item.title}}
      </button>

      <!--<md-toolbar class="md-hue-2">-->
      <!--<span flex></span>-->
      <!--<div layout="row" layout-align="start center">-->
      <!--<md-icon class="md-avatar" md-svg-icon="avatars:svg-1"></md-icon>-->
      <!--<span flex></span>-->
      <!--</div>-->
      <!--<span flex></span>-->
      <!--<div class="md-body-2">Firstname Lastname</div>-->
      <!--<div class="md-body-1">email@domainname.com</div>-->
      <!--</md-toolbar>-->
      <!--<md-list>-->
      <!--<md-list-item class="md-2-line" ng-repeat="item in menu" role="link" md-ink-ripple>-->
      <!--<md-icon md-svg-icon="{{item.icon}}" aria-label="{{item.title}}"></md-icon>-->
      <!--<div class="md-list-item-text">-->
      <!--<span class="md-body-2">{{item.title}}</span>-->
      <!--</div>-->
      <!--</md-list-item>-->
      <!--<md-divider></md-divider>-->
      <!--<md-subheader class="md-no-sticky">Management</md-subheader>-->
      <!--<md-list-item class="md-2-line" ng-repeat="item in admin" role="link" md-ink-ripple>-->
      <!--<md-icon md-svg-icon="{{item.icon}}" aria-label="{{item.title}}"></md-icon>-->
      <!--<div class="md-list-item-text">-->
      <!--<span class="md-body-2">{{item.title}}</span>-->
      <!--</div>-->
      <!--</md-list-item>-->
      <!--</md-list>-->
    </md-sidenav>


    <div class="tc-white-1" flex-container="column">
      <button class="btn btn--m btn--blue btn--fab" lx-ripple><i class="mdi mdi-plus"></i></button>

      <div>
        <!--<mdt-table-->
          <!--sortable-columns="true"-->
          <!--animate-sort-icon="true"-->
        <!--&gt;-->

          <!--<mdt-header-row>-->
            <!--<mdt-column>Status</mdt-column>-->
            <!--<mdt-column align-rule="right" style="width: 30px">Confirmation Number</mdt-column>-->
            <!--<mdt-column>Company</mdt-column>-->
            <!--<mdt-column align-rule="right">Purchase Number</mdt-column>-->
            <!--<mdt-column align-rule="right">Order Date</mdt-column>-->
            <!--<mdt-column align-rule="right">Planned Delivery Date</mdt-column>-->
            <!--<mdt-column align-rule="right">Actual Delivery Date</mdt-column>-->
            <!--<mdt-column>Options</mdt-column>-->
          <!--</mdt-header-row>-->

          <!--<mdt-row ng-repeat="order in orders">-->
            <!--<mdt-cell>1</mdt-cell>-->
            <!--<mdt-cell>{{order.data.ocnr}}</mdt-cell>-->
            <!--<mdt-cell>{{order.data.company}}</mdt-cell>-->
            <!--<mdt-cell>{{order.data.ordernr}}</mdt-cell>-->
            <!--<mdt-cell>{{order.data.odate}}</mdt-cell>-->
            <!--<mdt-cell>{{order.data.ddate}}</mdt-cell>-->
            <!--<mdt-cell>{{order.data.addate}}</mdt-cell>-->
            <!--<mdt-cell html-content="true">-->
              <!--<lx-dropdown position="right" over-toggle="false">-->
                <!--<button class="btn btn&#45;&#45;l btn&#45;&#45;black btn&#45;&#45;icon" lx-ripple lx-dropdown-toggle>-->
                  <!--<i class="mdi mdi-dots-vertical"></i>-->
                <!--</button>-->

                <!--<lx-dropdown-menu>-->
                  <!--<ul>-->
                    <!--<li><a class="dropdown-link"><i class="mdi mdi-pencil"></i><span>Edit Order Data</span></a></li>-->
                    <!--<li><a class="dropdown-link"><i class="mdi mdi-pencil"></i><span>Edit Production Data</span></a>-->
                    <!--</li>-->
                    <!--<li class="dropdown-divider"></li>-->
                    <!--<li><a class="dropdown-link"><i class="mdi mdi-printer"></i><span>Print Form 1</span></a></li>-->
                    <!--<li><a class="dropdown-link"><i class="mdi mdi-printer"></i><span>Print Form 2</span></a></li>-->
                    <!--<li><a class="dropdown-link"><i class="mdi mdi-printer"></i><span>Print Form 3</span></a></li>-->
                    <!--<li class="dropdown-divider"></li>-->
                    <!--<li><a class="dropdown-link"><i class="mdi mdi-delete"></i><span>Delete</span></a></li>-->
                  <!--</ul>-->
                <!--</lx-dropdown-menu>-->
              <!--</lx-dropdown>-->
            <!--</mdt-cell>-->
          <!--</mdt-row>-->

        <!--</mdt-table>-->
      </div>
    </div>
  </div>
  <div class="data-table-container">
    <header class="data-table-header">
      <div class="data-table-header__label">
        <span class="fs-title">Lorem Ipsum</span>
      </div>

      <div class="data-table-header__actions">
        <button class="btn btn--l btn--black btn--icon" lx-ripple>
          <i class="mdi mdi-filter-variant"></i>
        </button>

        <lx-dropdown position="right" over-toggle="true">
          <button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
            <i class="mdi mdi-dots-vertical"></i>
          </button>

          <lx-dropdown-menu>
            <ul>
              <li><a class="dropdown-link">Action</a></li>
              <li><a class="dropdown-link">Another action</a></li>
              <li><a class="dropdown-link">Something else here</a></li>
              <li class="dropdown-divider"></li>
              <li><a class="dropdown-link dropdown-link--is-header">Header</a></li>
              <li><a class="dropdown-link">Separated link</a></li>
            </ul>
          </lx-dropdown-menu>
        </lx-dropdown>
      </div>
    </header>

    <table class="data-table">
      <thead>
      <tr class="data-table__selectable-row">
        <th></th>
        <th>Dessert (100g serving)</th>
        <th>Calories</th>
        <th>Fat (g)</th>
        <th class="data-table__sortable-cell data-table__sortable-cell--desc">Carbs (g)</th>
        <th>Protein (g)</th>
        <th>Sodium (mg)</th>
        <th>
          <i class="mdi mdi-comment-text"></i>
          <span>Comments</span>
        </th>
      </tr>
      </thead>

      <tbody>
      <tr class="data-table__selectable-row" ng-class="{'data-table__selectable-row--is-selected': isSelected}" ng-click="isSelected = !isSelected">
        <td></td>
        <td>Frozen yogurt</td>
        <td>159</td>
        <td>6.0</td>
        <td>24</td>
        <td>4.0</td>
        <td>87</td>
        <td>Lorem ipsum</td>
      </tr>

      <tr class="data-table__selectable-row">
        <td></td>
        <td>Ice cream sandwich</td>
        <td>237</td>
        <td>9.0</td>
        <td>37</td>
        <td>4.3</td>
        <td>129</td>
        <td>Lorem ipsum</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
